extends ./layout.jade

block content
  .row
    .col-md-6
      h2 Create #{modelName}
  .row
    form(action="/admin/#{modelName}/store", method="POST").col-md-12
      each attr, indexAttr in modelSchema
        div !{helpers.form.getControl(indexAttr, attr)}
      
      button.btn.btn-primary(type="submit") Create
