extends ./layout.jade


mixin model-create-form
  .row
    .col-md-12
      if _.isEmpty(modelSchema)
        p.text-warning It appears that your #{modelName} schema is empty. Please specify some attributes.
        p For more information refer to the <a href="http://sailsjs.org/documentation/concepts/models-and-orm/attributes">sails documentation on Model's attributes.</a>
      else
        form(action="/admin/#{modelName}/store", method="POST")
          each attr, attrName in modelSchema
            div !{helpers.form.getElement(attrName, attr)}
          
          button.btn.btn-primary(type="submit") Create
          
block content
  .row
    .col-md-6
      h2.text-capitalize Create #{modelName}
  +model-create-form


block scripts
  script.
    //- $(document).ready(function() {
    //-   $('form').on('submit', function(e){
    //-     // validation code here
    //-     console.log()
    //-     e.preventDefault();
    //-   });
    //- });
