extends ./layout.jade

block content
  .row
    .col-md-6
      h2.text-capitalize Edit #{modelName}
  .row
    form(action="/admin/#{modelName}/update/#{model.id}", method="POST").col-md-12
      each attr, attrName in modelSchema
        div !{helpers.form.getElement(attrName, attr, model[attrName])}
      
      button.btn.btn-primary(type="submit") Save
